@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

html, body {
  cursor: crosshair;
  background: url(../assets/arcade-bg-2.png) no-repeat center center;
  background-size: cover;
  font-size: 18px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#app {
  background-color: #000c;
  // blur filter on background
  backdrop-filter: blur(10px);
  border-radius: 0.2rem;
  padding: 2rem;
  margin-bottom: 10vh;
  transition: all 500ms ease-in;
}

#app:hover {
  box-shadow: 0 0 30px 50px rgba(79, 12, 141, 0.2);
  transition: all 500ms ease-in;
  background-color: #1116;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input {
  backdrop-filter: blur(10px);
  // background-color: #000a;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
}

hr {
  border: 1px dashed #aa62da;
  margin: -0.5em 0 2em 0;
}

h1, button {
  font-family: 'Dela Gothic One', sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

ul, li {
  text-align: left;
}

.left {
  text-align: left;
}