// @font-face {
//   font-family: 'Delta Gothic One';
//   src: local('DelaGothicOne-Regular') url('@/assets/DelaGothicOne-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

// TODO: replace this with a local font so Google doesn't spy on us
// Do I need to use this? https://github.com/cssninjaStudio/unplugin-fonts#custom-fonts
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

$green: #d5ff72;
$purple: #535bf2;
$text-color: rgba(255, 255, 255, 0.87);
$underline-color: #fff6;
$header-height: 10svh;
$footer-height: 10svh;
$white-glass: rgba(255, 255, 255, 0.377);
$headline-color: $green;
$highlight-bg: $green;
$anchor-color: #646cff;
$anchor-color-hover: $purple; 

:root {
  color: $text-color; 
}

* {
  box-sizing: border-box;
}

html, body {
  // cursor: crosshair;
  // background: url(../assets/arcade-bg-2.png) no-repeat center center;
  // background-size: cover;
  font-size: 16px;
}

#root {
  margin: 0 auto;
  // text-align: center;
}

#app {
  background-color: #000;
  // background-color: #fff;
  // blur filter on background
  // backdrop-filter: blur(10px);
  // transition: all 500ms ease-in;
  width: 100svw;
  height: 100svh;
  overflow-x: hidden;
}

#header, #footer {
  backdrop-filter: blur(10px);
  background: $white-glass;
  display: flex;
  height: 10svh;
  left: 0;
  margin-bottom: 3rem;
  overflow: hidden;
  position: fixed;
  // position: sticky;
  top: 0;
  width: 100svw;
  z-index: 100;
}

#app-name {
  // color: #d8ff9bcc;
  font-size: 1.25rem;
  color: $headline-color;
  margin: auto;
  transform: translateX(calc($header-height / -2));
}


#footer {
  top: inherit;
  bottom: 0;
  margin-bottom: 0;
  justify-content: space-evenly;
}

.nav-button {
  font-size: 0.8em;
  background: transparent;
  border: 0px solid transparent;
  width: 100%;
  transition: all 250ms ease;
  &:hover {
    cursor: pointer;
    color: #000;
    background: $highlight-bg;
  }
}

.primary {
  min-height: calc(calc($header-height + $footer-height) + 80vh);
  // height: 100svh;
  padding-top: 0svh;
  // transform: translateY(-10svh);
  z-index: 1;
  // margin-bottom: -10svh;
}

.layout {
  max-width: 400px;
  min-height: 100svh;
  padding: calc($header-height + 2svh) 1rem;
  backdrop-filter: blur(5px);
}
.game-layout {
  @extend .layout;
  padding: $header-height 0 0 0;
}

h2 {
  border-bottom: 2px solid $underline-color; 
  display: block;
  width: 100%;
}


#component-home {
  background: url(../assets/arcade-bg-2.png) no-repeat center center;
  background-size: cover;
}

#component-retrieve {
  background: url(../assets/arcade-bg-2.png) no-repeat center center;
  background-size: cover;
}

#app:hover {
  box-shadow: 0 0 30px 50px rgba(79, 12, 141, 0.2);
  transition: all 500ms ease-in;
  background-color: #1116;
}

.card {
  // border: 1px solid #000;
  border-radius: 2px;
  background: #fff2;
  // backdrop-filter: blur(20px);
  padding: 2em;
  overflow-x: hidden;
}

input {
  backdrop-filter: blur(10px);
  background-color: #000a;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
}

input[type=file] {

  width: 100%;
}

hr {
  border: 1px dashed #fff;
  margin: 2em 0;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Dela Gothic One', sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

ul, li {
  text-align: left;
}

.left {
  text-align: left;
}

.button {
  color: #000;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: $green; 
  cursor: pointer;
  transition: border-color 0.25s;
  &:disabled {
    background-color: #7777;
    border: 2px solid red;
  }
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

textarea, input {
  color: $text-color;
  &::placeholder {
    color: $text-color;
  }
}

#logo {
  cursor: pointer;
}

.game-card {
  background-color: $white-glass;
  padding: 1rem;
  margin: 2rem 0;
}

.game-card-preview {
  width: 100%;
}

.game-card-title {
  margin: 0 0 1rem 0;
}